:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	min-height: 100dvh;
	background-color: white;
}

.table-header-th {
	color: rgba(55, 53, 47, 0.65) !important;
}

th {
	position: sticky;
	background-color: white;
	top: 56px;
}

table thead th {
	border-bottom: none !important;
	box-shadow: inset 0 -1px 0 #e9e9e7;
	padding: 2px 0;
	border-right: 1px solid #e9e9e7;
  }

td {
	border-right: 1px solid #e9e9e7;
	border-bottom: 1px solid #e9e9e7 !important;
}

.table_name {
	font-weight: 500;
}

.flex-cnt {
	display: flex;
}

.flex-cnt-jce {
	justify-content: end;
}

.cost-type-tag {
	padding: 0 6px;
	border-radius: 3px;
	border: 1pt solid;
}

.cost-type-tag_magenta {
	background-color: rgb(255, 240, 246);
	color: rgb(196, 29, 127);
	border-color: rgb(255, 173, 210);
}

.cost-type-tag_red {
	background-color: rgb(255, 241, 240);
	border-color: rgb(255, 163, 158);
	color: rgb(207, 19, 34);
}

.cost-type-tag_volcano {
	color: rgb(212, 56, 13);
	background-color: rgb(255, 242, 232);
	border-color: rgb(255, 187, 150);
}

.cost-type-tag_orange {
	color: rgb(212, 107, 8);
	background-color: rgb(255, 247, 230);
	border-color: rgb(255, 213, 145);
}

.cost-type-tag_purple {
	color: rgb(83, 29, 171);
	border-color: rgb(211, 173, 247);
	background-color: rgb(249, 240, 255);
}

.cost-type-tag_blue {
	color: rgb(9, 88, 217);
	background-color: rgb(230, 244, 255);
	border-color: rgb(145, 202, 255);
}

.cost-type-tag_gold {
	color: rgb(212, 136, 6);
	border-color: rgb(255, 229, 143);
	background-color: rgb(255, 251, 230);
}

.cost-type-tag_lime {
	color: rgb(124, 179, 5);
	background-color: rgb(252, 255, 230);
	border-color: rgb(234, 255, 143);
}

.cost-type-tag_green {
	color: rgb(56, 158, 13);
	border-color: rgb(183, 235, 143);
	background-color: rgb(246, 255, 237);
}

.cost-type-tag_geek_blue {
	color: rgb(29, 57, 196);
	border-color: rgb(173, 198, 255);
	background-color: rgb(240, 245, 255);
}

.table-price {
	text-align: right;
}

.float_button {
	position: fixed !important;
	bottom: calc(env(safe-area-inset-bottom) + 20px);
	right: calc(env(safe-area-inset-right) + 20px);
	/* background-color: white; */
	/* border-radius: 26px; */
	/* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.create_dialog_date_picker input {
	padding: 12.5px 14px;
}

.create_dialog_cost_type_selector {
	margin-top: 16px !important;
}

.create_dialog_cost_type_selector > div > div {
	padding: 12.5px 14px;
}

.navigation_bar_placeholder {
	height: 56px;
}

.fixed_navigation_bar {
	background-color: white !important;
	border-bottom: thin solid #E5EAF2;
	left: 0;
}

@media (min-width: 600px) {
	th {
		top: 64px;
	}

	.navigation_bar_placeholder {
		height: 64px;
	}
}
